<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MTBank</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/validationStyle.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand navbar-light border-bottom box-shadow pb-0 pt-0 ps-3 pe-4">
                <a class="navbar-brand" asp-controller="Home" asp-action="WelcomeIndex">Смены</a>
                <div class="navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item bg-info rounded">
                            <a class="nav-link fs-5 text-white" asp-area="" asp-controller="Shift" asp-action="ListShift" asp-route-shiftId="1">1 смена</a>
                        </li>
                        @await Component.InvokeAsync("Shift")
                        <li class="nav-item">
                            <a class="nav-link fs-5 disabled" aria-disabled="true" asp-area="" asp-controller="Shift" asp-action="ListShift" asp-route-shiftId="1">4 смена</a>
                        </li>
                        @if (User.IsInRole("admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link fs-5 dropdown-toggle text-black" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Разработчик
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item text-black" asp-controller="Shift" asp-action="CreateList">Добавить задачу</a></li>
                                    <li><a class="dropdown-item text-black" asp-controller="Shift" asp-action="AdminShift">Админ панель</a></li>
                                    <li><a class="dropdown-item text-black" asp-controller="User" asp-action="ListUser">Список пользователей</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item text-black" asp-controller="Shift" asp-action="JournalAction">Журнал</a></li>
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <div class="text-end dropdown">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="nav-link fs-5 dropdown-toggle text-black" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Аккаунт
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item text-black" asp-controller="User" asp-action="EditPassword">Изменить пароль</a></li>
                            <li><a class="dropdown-item text-black" asp-controller="User" asp-action="SignOut">Выйти</a></li>
                        </ul>
                    }
                </div>
        </nav>
    </header>
    <div class="container-fluid">
            @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>